{% extends 'blog/base.html' %}

{% block content %}




<br>



<div class="container container-fluid" style="padding: 1rem; " >
        <h2 style="color: {{ settings.post_color }}; margin-left: 0%;">Wyślij newsletter:</h2>
        <br>
       <div style="margin: auto; display: flex;">

                <form method="post"  style="margin: auto;">
                    {% csrf_token %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <p>
                            <button class="btn btn-primary" type="submit" style="margin: auto; display: flex;">Wyślij</button>
                    
                    
                    </p>

        </div>
    </div>
    </div>

{% endblock %}