{% extends 'blog/base.html' %}



{% block content %}
{% if facebook %}
{{ facebookScript|safe  }}
{% endif %}

    <div class="post">

       
        <div class="container container-fluid" style="padding: 1rem">
            <div class="card">

                    {% if post.published_date %}
                    <div class="date">
                        {{ post.published_date }}
                    </div>
                     {% endif %}


        <h2 style="color: #007bff;">{{ post.title }}</h2>

        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" style="width: 10px; padding: 0">
            <span class="fas fa-edit"></span>
        </a>
        {% endif %}

       

        <p>{{ post.text|safe  }}</p>


        <hr>


        
        {% if facebook %}
            {% if post.comments %}
            <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>
            {% endif %}
        {% endif %}
        </div>
    </div>






    </div>
{% endblock %}